/* .login
{
    border: rgb(47, 131, 96) 3px solid;
    height: 15em;
    margin-top: 5%;
    margin-left: 42%;
    margin-right: 42%;
    background: rgb(105, 143, 105);
}
.login h2
{
    text-align: center;
}
.login #login-button
{
    width: 100%;
    color: rgb(13, 160, 57);
    border: rgb(16, 105, 39) 2px solid;

} */

/* kgjkdegpkdfjgpkd */
*{
    box-sizing: border-box;
}

body
{

    font-family: sans-serif;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 50%;
}

.container
{
    background-color:orange;
    border-radius: 5px;
    border: black 2px solid;

}
form
{
    padding: 30px, 40px;
}
